@import url("https://use.typekit.net/jmk3xov.css");
html,
body {
  padding: 0px;
  margin: 0px;
  background-color: black;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h3,
h4 {
  margin: 2px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}
ul {
  list-style-type: none;
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-5 {
  margin-top: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}
.hover-150:hover {
  transform: scale(1.01);
}

@media only screen and (max-width: 850px) {
  section,
  header {
    grid-column: 2 / span 10;
    padding: 10px;
    font-size: 1rem;
    overflow-x: hidden;
  }
  header {
    font-size: 1.3rem;
  }
  .left,
  .right {
    grid-column: 2 / span 10;
  }
  blockquote {
    grid-column: 2 / span 10;
  }
  blockquote p {
    font-size: 2rem;
  }
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(34, 34, 34);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.emoji{
  font-weight: 100;
}
